.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajafotos{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.caja{
    border: 5px ridge black;
}

.imgjuego {
    width: 250px;
    height: 400px;
}   

.cajavacia {
    display: flex;
    flex-direction: row;
}

.cajagris {
    border: 5px solid black;
    background-color: grey;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
}